// workflow configuration parameters
params {

	// sheet of sample SRA run IDs, desired filenames, sequencing platform, and primer file, if available
	samplesheet = "$baseDir/resources/samplesheet.csv"
	
	// other resource files, should they become useful
	refseq = "$baseDir/resources/reference.fasta"
	refgff = "$baseDir/resources/MN9089473.gff3"
	consensus_seqs = "$baseDir/data/alltimepoints_20220222.fasta"
	Ct_data = "$baseDir/data/Ct_timeline.csv"
	neut_data = "$baseDir/data/antibody_potency.csv"

	// directories
	refdir = "$baseDir/resources"
	results = "$baseDir/results"

}


// Docker settings
// NOTE: You must run `docker build --tag wisc-prolonged-infection:v1_0_1 config/` before the necessary container is available
process.container = 'ncbi/sra-tools:3.0.0'
docker.enabled = true


// This file gives a nicely laid-out summary of how the download ran
// It should be opened in a web browser
report {
  enabled = true
  file    = "${params.results}/report.html"
}


// This file shows run statistics in greater detail, and should be opened in
// Microsoft Excel or some other spreadsheet program
trace {
  enabled = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}


// Setting profiles
profiles {

	standard {
		process.executor = 'local'
	}

	chtc {
		process.executor = 'condor'
		process.cpus = 1
		process.disk = '2 GB'
		process.memory = '2 GB'
	}

}
